

.flex-container {
    display: flex;

}

.flex-child {
    flex: 1;
    
    margin-top: 0px;
    margin: 150px;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.card-title {
    text-align: center;
}

.registration-card {
    width: 200px;
    text-align: center;
}

.example-full-width {
    
    font-size: large;
}